*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
nav {
    background: goldenrod;
    height: 80px;
    width: 100%;
}
label {
    color: whitesmoke;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    color: whitesmoke;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}
a.active,a:hover {
    background:rgb(0, 0, 0);
    transition: .5s;
}
.checkbtn {
    font-size: 30px;
    color: whitesmoke;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;

}
body {
    margin: 0;
    padding: 0;
}
section {
    background: url("stefan-cosma-GVlcXhQejA8-unsplash.jpg") no-repeat;
    background-size: cover;
    height: 100vh;

}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.contact-form {
    background-color: transparent;
    text-align: center;
}
.form-group label {
    display: block;
    font-size: 20px;
 
}
.form-group input {
    width: 100%;
    padding: 10px;
    margin-bottom: 2px;
    border: 3px solid #DAA520; 
}
.form-group button {
    background-color: goldenrod;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
}
.form-group button:hover {
    background-color: rgb(253, 218, 19);
}
#twitter {
    font-size: 50px;
    color: whitesmoke;
    float: right;
    line-height: 80px;
    margin-right: 50px;
    cursor: pointer;   
}
#linkin {
    font-size: 50px;
    color: whitesmoke;
    float: right;
    line-height: 80px;
    margin-right: 50px;
    cursor: pointer;
}
#facbok {
    font-size: 50px;
    color: whitesmoke;
    float: right;
    line-height: 80px;
    margin-right: 50px;
    cursor: pointer;
}
@media screen and (max-width: 858px) {
    label.logo {
        font-size: 20px;
        padding-left: 30px;
        display: block;
    }
    nav ul li a {
        font-size: 16px;
    }
}
@media screen and (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(52, 94, 141);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;

    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    
    }
    a:hover,a.active {
        color: whitesmoke;
    }
    #check:checked ~ ul {
        left: 0;

    }
}
@media screen and (max-width: 600px) {
    .contact-form {
        max-width: 90%; 
    }
}