/* En allmän style som gäller för alla element */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

/* Stylar header (h1) */
h1 {
    color: whitesmoke;
    font-size: 25px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    
}

/* Stylar paragrafen */
p {
    color: whitesmoke;
    font-size: 15px;
    line-height: 25px;
    padding: 0 100px;
}

/* justerar position på elementen och bilderna i galleriet */
div.gallery {
    margin: 10px;
    border: 3px solid #ffffff;
    float: right;
    width: 180px;
}

/* Style på den ram som dycker upp när man hovrar över bilderna */
div.gallery:hover {
    border: 1px solid #777;
}

/* Styr bildernas bredd och höjd */
div.gallery img {
    width: 100%;
    height: 250px;
}

/* Stylar texten under bilderna */
div.desc {
    padding: 15px;
    text-align: center;
    color: whitesmoke;
}

/* Stylar navbar med färg, höjd och att den är lika bred som skärmen */
nav {
    background:goldenrod;
    height: 80px;
    width: 100%;
}

/* Stylar logotypen i navbar som i det här fallet är "om mig" */
label {
    color: whitesmoke;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

/* Bestämmer position på knapprana "hem", "om mig" och "kontakt" */
nav ul {
    float: right;
    margin-right: 20px;
}

/* Lägger knapprna "hem", "om mig" och "kontakt" på rad i navbar */
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

/* Stylar knapparna som finns på navigationsbaren */
nav ul li a {
    color: whitesmoke;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

/* Påverkar effekten och färgen när man hovrar över navbar knapparna och bilden */
a.active,a:hover {
    background:rgb(0, 0, 0);
    transition: .5s;
}

/* Förändrar utseendet på hamburgarmenyn */
.checkbtn {
    font-size: 30px;
    color: whitesmoke;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;

}
#check {
    display: none;

}

/* En bakgrund som täcker hela skärmen */
section {
    background: url("codioful-formerly-gradienta-QWutu2BRpOs-unsplash.jpg") no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}

/* Justerar loggan "hem" när skärmen inte är bredare än 858 pixlar för att anpassas till telefoner eller surfplattor */
@media screen and (max-width: 858px) {
    label.logo {
        font-size: 20px;
        padding-left: 30px;
        display: block;
    }
    nav ul li a {
        font-size: 16px;
    }
}

/* När skärmen inte är bredare än 858 pixlar så kommer en knapparna hem, om mig och kontakt flyttas och hamna under en så kallad hamburgarmeny.  */
@media  screen and (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(52, 93, 141);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;

    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    
    }
    a:hover,a.active {
        color: whitesmoke;
    }
    #check:checked ~ ul {
        left: 0;

    }
}

/* När skärmen inte är bredare än 600px så försvinner paragrafen och rubriken för att underlätta för mobilanvändare */
@media screen and (max-width: 600px) {
    h1 {
        display: none;
    }
    p {
        display: none;
    }
}

/* När skrämen inte är bredare än 500 pixlar så repeterar bakgrundsbilden sig för att täcka hela skärmen eftersom bilderna lägger sig på varandra */
@media screen and (max-width: 500px) {
    section {
        background-size: 200%;
        background-repeat: repeat;
        height: 160vh;
    }
}

/* När skrämen inte är bredare än 400 pixlar så repeterar bakgrundsbilden sig för att täcka hela skärmen eftersom bilderna lägger sig på varandra samt så är bilden förstorad */
@media screen and (max-width: 400px) {
    section {
        background-size: 200%;
        background-repeat: repeat;
        height: 200vh;
    }
}